.container_footer{
    align-items: center;
    border: 3px solid black;
    padding: 5px;
}
.title_social{
    font-family: Verdana, sans-serif;
    text-align: right;

}
.links_social{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;

}
.copy{
    font-size: 14px;
    font-style: italic;
}

.flaticon{
    font-size: 8px;
}

.links_social{
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    background-color: white;



}