.container_footer{
    display: flex;
    align-items: center;
    padding: 5px;
    background: var(--gradient);
    flex-direction: column;
}

.title_social{
    font-family: Verdana, sans-serif;
    font-size: 24px;
    padding: 5px;
    margin: 10px;

}
.links_social{
    font-size: 20px;
    border-radius: 10px;
}

.anchor_social {
    display: flex;

}

.copy{
    font-size: 14px;
    font-style: italic;
    padding: 5px;
    margin: 10px;
    text-shadow: 0px 0px 25px black;
}

.footer_social_links{
    justify-content: center;
}

.logo_social{
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.logo_social:hover{
    border: 1px solid plum;
    border-radius: 10px;
    transition: all 0.5s;
}