.section_contact{
    width: 100%;
    /* position: absolute; */
    margin-top: 0;
    /*background-color: rgb(255, 0, 64);*/
    background: linear-gradient(to right, #FF512F, #B861E0, #7171E2);
    margin-bottom: 4rem;
}

form{
    /* position: relative; */
    /* top: 30px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 100%;
    background-color: rgb(22, 22, 22);
}

.contact_container{
    width:100%;
}

.contact_title{
    color: aliceblue;
    padding: 5px;
}

.contact_suscribe{
    font-size: 14px;
}

.contact_checkbox{
    height: 14px;
    width: 14px;
    border-radius: 15px;
}

.contact_checkbox:hover{
    cursor: pointer;
    background-color: rgba(86, 35, 182, 0.678);
    transition: background-color 0.5s;
}



.contact_group{
    padding: 10px;
}

.contact_input{
    padding: 5px;
}

.contact_button{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(56, 44, 167, 0.568);
}

.contact_button:hover{
    cursor: pointer;
    background-color: rgba(86, 35, 182, 0.678);
    color: white;
    transition: all 0.8s;
}