*{
    text-decoration: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

*,*::after,*::before{
    text-decoration: none; 
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, var(--color-violeta) 0%, var(--color-azul) 100%);
    z-index: 900;
    width: 100%;
    transition: 0.5s all ease-in-out;
}

header::before { 
    content: ''; 
    width: 100%;
    max-height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(4px) brightness(1);
    backdrop-filter: blur(4px) brightness(1);
    z-index: -5;
}

.header_shadow_Mini {
    box-shadow: none;
    height: 140px;
    transition: 0.5s all ease-in-out;
}

.container_nav {
    display: flex;
    align-items: center;
}

.title_h1 {
    font-weight: bold;
    color: linear-gradient(45deg, var(--color-violeta) 0%, var(--color-azul) 100%);
    color: #D9D9D9;
}


@layer navBar {
    nav{
        width: 100%;  
    }

    ul{
        display: flex;
        gap: 20px;
        width: 100%;
    }

    li:not(.links_social){
        display: inline-block;
        align-items: center;
        border: 1px solid black;
        background-color: rgb(161, 50, 165);
        padding: 5px;
    }

    li > a{
        font-size: 1.6rem;
    }

    .title_container{
        display: flex;
        justify-content: center;
    }    
}

@layer Hamburger {
/* Burguer */
    [type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        border: 2px solid #30343F;
    }
    .menu-burguer {
        display: none;
    }
    .menu-equ{
        display: none;         
    }
    #menu-input {
        display: none;
    }
}


/* -------- Mobile -------- */
@media only screen and (max-width: 599px) {
    body {
        background-color: rgb(24, 24, 24);
    }
   
    .container_nav {
        display: flex;
        justify-content: flex-end;

    }
    .title_container{
        display: flex;
        justify-content: center;
    }  
    .header_shadow_Mini {
        box-shadow: none;
        height: 80px;
        transition: 0.5s all ease-in-out;
    }
}

/* ------ TABLETs ------ */
@media only screen and (max-width: 769px) { 
    /* Hambur Menu */    
    .menu-burguer {
        display: flex;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        font-size: 3ch;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;   
        margin: 0;
        margin-top: 8px;
        margin-left: 8px;
        padding: 0;
        cursor: pointer;
        position: fixed;
        top: 0.5%;
        left: 5px;        
    }  
    .menu-burguer:hover {
        background-color: #F33;
    }
    .menu-equ{
        display:none;             
    }
    .nav_menu {
        display: none;
    }
    
    #menu-input:checked  ~ .nav_menu{
        display:flex;
        color: #FFF;
        padding: 0 0 10px 0;
        transition: background 1s ease-in-out;
        text-align: start;
        align-items: flex-end;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
}
    #menu-input:checked  ~ .menu-burguer{
        visibility: hidden;   
    }
    #menu-input:checked  ~ .menu-equ{
        display: inline-flex;
        color:aliceblue;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;      
        text-align: center;
        position: fixed;
        top: 0.5%;
        left: 5px;
        border: 4px solid orange;
        font-size: 3ch;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        transition: all 5s ease-in-out;

    }
    #menu-input {
        display: none;        
    }

    #menu-input:checked .nav_menu{
        display:block;   
        transition: all 5s ease-in-out;
          
    }
    .nav_menu_item:active {
        background-color: #F33;
    }

    .nav_menu_items {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        top: 50px;
        left: 0;
        gap: 5px;
        transition: all 5s ease-in-out;

    }
    .nav_menu_item {
        width: 100%;
        margin: 0;
        padding: 0;
        transition: all 5s ease-in-out;
    }
    .nav_menu_link {
        display: block;
        width: 100%;
    }
    .nav_menu_link:hover {
        background-color: burlywood;
    }

    .container_nav {
        display: flex;
        justify-content: flex-end;

    }
    .title_container{
        display: flex;
        justify-content: center;
    }  
    .header_shadow_Mini {
        box-shadow: none;
        height: 80px;
        transition: 0.5s all ease-in-out;
    }

}