*{
    text-decoration: none; 
}

body{
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    
}

header {
    position: sticky;
    top: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(199, 196, 37, 0.747);
    border: 2px solid blue;
    z-index: 900;
    
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}

@layer navBar {
nav{
    width: 40%;
}
ul{
    display: flex;
    gap: 20px;
    width: 100%;
}

li{
    display: inline-block;
    align-items: center;
    border: 1px solid black;
    background-color: aqua;
    padding: 5px;
}

li > a{
    font-size: 1.6rem;
}

.title_container{
    width: 60%;
    display: flex;
    justify-content: center;   
}
}

@layer Hamburger {
/* Burguer */
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid #30343F;
}
.menu-burguer {
    display: none;
}
.menu-equ{
    display: none;         
}
#menu-input {
    display: none;
}
}


h1{
    font-size: 2rem;
    border: 2px solid green
}


section {
    width: 100%;
    margin-top: 3%;
    border: 2px solid purple;
}

footer {
    border: 2px solid orange;
}

/* Mobile */
@media only screen and (max-width: 599px) { 
    /* Hambur Menu */    
    .menu-burguer {
        display: inline-flex;
        color: #f33;
        font-size: 6ch;
        font-family: sans-serif;
        border: none;
        cursor: pointer;
        position: fixed;
        right: 5px;     
    }  
    .menu-equ{
        display:none;             
    }
    .nabvar__menu {
        display: none;
    }
    
    #menu-input:checked  ~ .nabvar__menu{
        display:flex;
        color: #FFF;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0 0 10px 0;
        transition: background 1s ease-in-out;
        text-align: end;
        width: 100%;
        margin-left: 65%;
        align-items: flex-end;
    }
    #menu-input:checked  ~ .menu-burguer{
        display:none;             
    }
    #menu-input:checked  ~ .menu-equ{
        display: inline-flex;
        color: #f33;
        font-size: 6ch;
        font-family: sans-serif;
        padding: 0;
        border: none;
        cursor: pointer;      
        text-align: center;
        position: fixed;
        top: 3%;
        right: 6px;
    }
    #menu-input {
        display: none;
        
    }
    #menu-input:checked .navbar__menu{
        display:block;             
    }
    .nabvar__item:active {
        background-color: #F33;
    }
}