/* ::-webkit-scrollbar {
    display: none;
} */

.tecno_container{

    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    
}



.tecno{
    width: 95%;
    margin: 0 auto;
    display: grid;
    padding: 8px;
}


.circle{
    grid-column: 1;
    width: 50%; /* Ancho del círculo en relación al contenedor padre */
    justify-self: center;
    align-self: center;
    padding-top: 48%; /* Establece la relación de aspecto del círculo (50% del ancho) */
    border-radius: 50%; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.911);
    border-top: 2px solid rgb(0, 0, 0);
    overflow: hidden; 
    position: relative;
    background: radial-gradient(circle, rgba(253,254,253,0.6979166666666667) 6%, rgba(141,142,141,1) 52%, rgba(116,117,116,1) 62%, rgba(20,20,20,1) 77%);   
}



.image_user{
    position: absolute; 
    width: 60%; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%)
}


@media (min-width: 380px){

    .tecno_container{
        width: 100%;
        height: auto;
        display: flex;
        padding: 1rem;
    }
    .tecno{
        width: 100%;
        /* display: grid; */
      
    }
    
    .circle{
        /* grid-column: 1; */
    }
}